.companyTitle {
  font-size: 20px;
  font-weight: 600;
}

.optionName {
  font-size: 13px;
}

.lineDataWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-right: 10px solid black;
  height: 50px;
  min-width: 100%;
  padding-right: 10px;
}

.companyLogo {
  max-width: 25px;
}

.optionsWrapper {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  // align-items: center;
  // margin-top: 20px;
}

@media (max-width: 768px) {
    .companyTitle {
        text-align: center;
        font-size: 14px;
      }

      .optionName {
        font-size: 11px;
      }

  .lineDataWrapper {
    border-right: none;
    border-top: 10px solid black;
    padding-right: 0;
    padding-top: 10px;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 100%;
    // min-width: 110px;
    max-width: min-content;
    min-height: 70px;
  }

  .companyLogo {
    max-width: 20px;
  }

  .radioWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // align-items: start;
  }
}

